/* font-family: 'Libre Baskerville', serif;

font-family: 'Lobster', cursive; */
body {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
/* .navbar {
   background-color: purple; 
} */

.purple {
    background-color: purple; 
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}